In [ ]:
import pandas as pd

# Create the dataset
data = pd.DataFrame({
    'Student ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Age Group': ['Young', 'Middle', 'Middle', 'Young', 'Senior', 'Middle', 'Young', 'Senior', 'Senior', 'Middle'],
    'Income': [25000, 35000, 40000, 28000, 50000, 38000, 22000, 45000, 48000, 42000]
})

In [ ]:
data.head()

   Student ID Age Group  Income
0           1     Young   25000
1           2    Middle   35000
2           3    Middle   40000
3           4     Young   28000
4           5    Senior   50000

In [ ]:
data.tail()

   Student ID Age Group  Income
5           6    Middle   38000
6           7     Young   22000
7           8    Senior   45000
8           9    Senior   48000
9          10    Middle   42000

In [ ]:
data.describe

<bound method NDFrame.describe of    Student ID Age Group  Income
0           1     Young   25000
1           2    Middle   35000
2           3    Middle   40000
3           4     Young   28000
4           5    Senior   50000
5           6    Middle   38000
6           7     Young   22000
7           8    Senior   45000
8           9    Senior   48000
9          10    Middle   42000>

In [ ]:
# Grouping the data by species to perform basic statistics

In [ ]:
data_groupby = data.groupby(by='Age Group')

In [ ]:
# Displaying Standard Deviation,Mean,Median,etc of the dataset
data_groupby.std()

           Student ID       Income
Age Group
Middle       3.593976  2986.078811
Senior       2.081666  2516.611478
Young        3.000000  3000.000000

In [ ]:
data_groupby.mean()

           Student ID        Income
Age Group
Middle       5.250000  38750.000000
Senior       7.333333  47666.666667
Young        4.000000  25000.000000

In [ ]:
data_groupby.median()

           Student ID   Income
Age Group
Middle            4.5  39000.0
Senior            8.0  48000.0
Young             4.0  25000.0

In [ ]:
data_groupby.min()

           Student ID  Income
Age Group
Middle              2   35000
Senior              5   45000
Young               1   22000

In [ ]:
data_groupby.max()

           Student ID  Income
Age Group
Middle             10   42000
Senior              9   50000
Young               7   28000

In [ ]:
print("Student ID")
print("Mean:",data['Student ID'].mean())
print("Standard Deviation:",data['Student ID'].std())
print("25th Percentile:",data['Student ID'].quantile(0.25))
print("50th Percentile (Median):",data['Student ID'].median())
print("75th Percentile:",data['Student ID'].quantile(0.75))
print()

Student ID
Mean: 5.5
Standard Deviation: 3.0276503540974917
25th Percentile: 3.25
50th Percentile (Median): 5.5
75th Percentile: 7.75

In [ ]:
print("Income")
print("Mean:",data['Income'].mean())
print("Standard Deviation:",data['Income'].std())
print("25th Percentile:",data['Income'].quantile(0.25))
print("50th Percentile (Median):",data['Income'].median())
print("75th Percentile:",data['Income'].quantile(0.75))
print()

Income
Mean: 37300.0
Standard Deviation: 9672.98643990917
25th Percentile: 29750.0
50th Percentile (Median): 39000.0
75th Percentile: 44250.0